$word:#FFFEF1;

$opaque:#444;
$neutral:#999;
$pale:#aaa;
$bare:#ccc;

$firm:#70B85D;
$bright:#54D0ED;

$sharp:#0cf;
$contrast:#fff;

$positive:#2C5E2E;
$negative:#0C273D;

$link:#2C5E2E;

$_color:$word,$opaque,$neutral,$pale,$bare,$firm,$bright,$sharp,$contrast,$positive,$negative;
$_color-class:word,opaque,neutral,pale,bare,firm,bright,sharp,contrast,positive,negative;