$container-width:320px;
$footer_height:40px;
$wraper-width:300px;

$black:black;
$blue:#3498db;
$gray:#bdc3c7;
$green:#27ae60;
$orange:orange;
$red:#e74c3c;
$white:white;
$yellow:#f1c40f;
$_custom-color:$black,$blue,$gray,$green,$orange,$red,$white,$yellow;
$_custom-color-class:black,blue,gray,green,orange,red,white,yellow;