$word:#333;
$opaque:#666;
$neutral:#999;
$pale:#aaa;
$bare:#ccc;

$firm:#049ff1;
$bright:#fe9d01;
$sharp:#0cf;
$contrast:#fff;
$positive:#43a102;
$negative:#FF2B00;

$link:#196FEE;

$_color:$word,$opaque,$neutral,$pale,$bare,$firm,$bright,$sharp,$contrast,$positive,$negative;
$_color-class:word,opaque,neutral,pale,bare,firm,bright,sharp,contrast,positive,negative;